<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <h1>Описание проекта</h1>
    <div>
        <h2>Всего сотрудников: {{ total_employees }}</h2>
        <h3>Последние сотрудники</h3>
        <ul>
            {% for employee in recent_employees %}
                <li>
                    <a href="{% url 'employee_detail' employee.id %}">
                        {{ employee.first_name }} {{ employee.last_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>